body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
}

h2 {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: auto;  /* Ajuste para evitar interferir com o Dashboard.css */
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: auto;  /* Ajuste para evitar interferir com o Dashboard.css */
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
